body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.cart {
  width: 350px;
  border: 1px solid rgba(157, 161, 157, 0.521);
  padding: 15px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
#card{
  transition: 0.3s;
}
#card:hover{
  transform: scale(1.04);
}
.star{
  color: #fa8231 ;
}
.text-color{
  color: #2C3A47;
}
.fs{
  font-size: 14px;
}